
p {
    font-size: 20px;
    text-align: left;
    margin: 0;
}

script {
    text-align: right;
}

body {
    margin: 0;
}

#loginInfo {
    text-align: right;
}

.color {
    color: rgb(66, 66, 66);

}